@import './mapTile.scss';
@import './newStash.scss';
@import './stashCard.scss';
@import './stashList.scss';
@import './variables.scss';

// Typography
h1, h2, h3, h4 {
  color: $COLOR_WHITE;
}

h1 {
  margin: 0;
  padding: 15px;
}

h2 {
  margin: 15px auto 12px auto;
}

h3 {
  margin: 5px 0;
}

h4 {
  margin: 6px 0;
}

header {
  background: $COLOR_BLUE;
}

#content-div {
  display: flex;
  background: $COLOR_LT_BLUE;
  border: 1px solid rgba(204, 204, 204, 0.6);
}

#header-icon {
  fill: $COLOR_ORANGE;
  margin-left: 5px;
  margin-right: 5px;
}

header h1 {
  display: flex;
  align-items: flex-start;
}
