@import './variables.scss';

#new-stash-div {
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(204, 204, 204, 0.6);

}

#new-stash-div h2 {
  text-align: center;
}

input {
  border: 1px solid $button_outline;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-left {
  width: 40%;
}

.form-right {
  width: 60%;
}

.form-left {
  text-align: right;
}

.form-right {
  text-align: left;
  padding-left: 10px;
}

.form-description {
  display: flex;
}

#stash-description {
  margin-top: 8px;
  width: 200px;
  height: 95px;
  resize: none;
  border: 1px solid #CCC;
}

#stash-description, input {
  width: 85%;
  // max-width: 210px;
}

#reset-div, #save-div {
  border: 1px solid $button_outline;
  background: $COLOR_LT_BLUE;
  width: 150px;
  width: 90px;
  margin: 0 25px;
  text-align: center;
}

#reset-save-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#reset-div:hover, #save-div:hover {
  background-color: $COLOR_LT_ORANGE;
}
