
// Palette
$COLOR_ORANGE: #E4801C;
$COLOR_BLUE: #003E7E;
$COLOR_LT_BLUE: #82A1C0;
$COLOR_GRAY: #D0DCE7;
$COLOR_BROWN: #896643;

// Text Color
$COLOR_WHITE: #FFF;

// Hover Colors
$COLOR_LT_ORANGE: #E0A772;

// $hover_button:
$button_outline: #CCC;
