@import './mapTile.scss';
@import './mapDiv.scss';
@import './newStash.scss';
@import './stashCard.scss';
@import './stashList.scss';
@import './variables.scss';

// Typography
h1, h2, h3, h4 {
  color: $COLOR_WHITE;
}

h1 {
  margin: 0;
  padding: 15px;
}

h2 {
  margin: 15px auto 12px auto;
}

h3 {
  margin: 5px 0;
}

h4 {
  margin: 6px 0;
}

header {
  background: $COLOR_BLUE;
}


#content-div {
  display: flex;
}

#map-stash-div {
  // display: inline-block;
  // width: calc(100% - 235px);
}

#list-div {

}
