@import './variables.scss';

#new-stash-div {
  background: $COLOR_GRAY;
}

#new-stash-div h2 {
  text-align: center;
}

#reset-save-container {
  display: flex;
  justify-content: space-between;
}

#reset-div, #save-div {
  border: 1px solid $button_outline;
  background: $COLOR_LT_BLUE;
}
